body {
  font-size: 14px;
  line-height: 1.2;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table td {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-time {
  width: 185px;
}

.col-servicekey {
  width: 400px;  
}

.col-servicekey .serviceKey {  
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-data .data {  
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;;
  font-size: 12px;
} 

.aws-icon {
  width: 16px;
  margin-top: -2px;
  margin-right: 5px;
  display: inline;
}

/* .icon-subscription {
  position: absolute;
  margin-left: 9px;
  font-size: 11px;
  margin-top: 8px;
} */

.icon-linked {
  padding-left: 3px;
  padding-right: 4px;
}