---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 16px;
}

img[src$="/logo/full_logo.svg"] {
  display: none;
}

.logo-serverlesslife {
  width: 10%;
}

.link-author
{ 
  margin-top: -60px !important;
  text-align: right;
  text-decoration: none !important;
}