---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <p><a href="../"><img src="/logo/full_logo_white.svg" alt="ServerlessSpy"></a></p>
    <div class="link-author">
      <h2>
        <a href="https://www.serverlesslife.com/about.html">Marko (ServerlessLife)</a>
        <a href="https://www.serverlesslife.com/">
          <img class="logo-serverlesslife" src="/logo/serverlesslife_logo_invert.png">
        </a>
      </h2>
    </div>
    {% endunless %}
    {{ content }}
  </div>
</div>